body {
    font-family: "Microsoft YaHei";
    margin-top: 5rem;
    background: #FAFAFA
}

.side-left {
    position: fixed;
    text-align: center;
    background-image: url(../images/me.jpg);
    top: 0;
    bottom: 0;
    float: left;
    border-right: 1px solid #f0f0f0;
}

.side-right {
    padding-left: 10%;
}

.icon-bottom {
    position: relative;
    top: 350px;
}

.circle {
    position: relative;
    text-align: center;
    margin: 0 auto;
    bottom: 145px;
    width: 140px;
    /*line-height: 50px;*/
    height: 140px;
    border: 4px solid rgb(244, 67, 54);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

.icon-bottom:hover .circle {
    opacity: 0.8;
    visibility: visible;
}

#icon {
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

.icon-bottom:hover img {
    opacity: 0.5;
    visibility: visible;
}

.bottom-name {
    position: relative;
    color: #FAFAFA;
    top: 250px;
}


/*.top-name {
    margin-top: 17px;
    font-size: 21px;
} */

.info {
    margin-top: 17px;
    font-size: 17px;
}

.male {
    font-size: 30px;
    color: rgb(244, 67, 54);
    margin-top: 5px;
}

.dot {
    margin: 20px;
    text-align: center;
    background-color: grey;
    opacity: 0.5;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    /*margin-bottom: 15px;*/
    transition: 0.6s;
    -webkit-transition: 0.6s;
}

.nav-dots {
    margin-top: 300px;
}

.dot:hover {
    -ms-transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
}

.content{
    margin-top: 150px;
    margin-bottom: 150px;
}

@media screen and (max-with:1000px) {
    #sidebar {
        display: none;
    }
    .bottom-name {
        display: none;
    }
    .icon-bottom {
        display: none;
    }
}