body {
    font-family: "Microsoft YaHei";
    margin: 5rem;
    background: #FAFAFA
}

.header {
    margin: 0 auto;
    text-align: center;
}
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
/*svg动画部分*/
.path-transition{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash-in 5s ease-in-out forwards; 
}

.path-enter {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash-in 5s ease-in-out forwards;
}

@keyframes dash-in {
    to {
        stroke-dashoffset: 0;
    }
}

.path-leave {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash-back 3s ease forwards;
}

@keyframes dash-back {
    to {
        stroke-dashoffset: 1000;
    }
}
/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
.bottom {
    /*text-align: center;*/
    font-size: 1.5rem;
    padding: 3rem;
}

#icon_circle:hover {
    opacity: 0.3;
}

a {
    color: #757575;
    animation-name: leftEnter;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

a:hover {
    color: #ce2323 !important;
    text-decoration: none;
}

@keyframes leftEnter {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/

.text-enter {
    animation-name: leftEnter;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.text-leave {
    animation-name: leftFade;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes leftFade{
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

/*wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/

.icon {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.bottom-link {
    font-size: 2.5rem;
    text-align: center;
}


/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/