<!DOCTYPE html>
<html>

<head>
    <title>Yihao Sun| Home Page</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://fonts.cdnfonts.com/css/nalieta" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/edu-vic-wa-nt-beginner" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fluid">
    <div id="mysvg" class="header">
        <svg width=450 height=500>
            <desc>SVG</desc>
            <defs>
                <pattern id="raduisImage" patternUnits="userSpaceOnUse" width="447" height="447">
                    <image xlink:href="images/cat.jpg" x="100" y="100" width="200" height="200" />
                </pattern>
            </defs>
            <circle id="icon_circle" v-on:click="transfer" cx="201" cy="201" r="100" fill="url(#raduisImage)"></circle>
            <path v-if="show" transition="path" d="M1,201 A200,200 0 0,0 201,400" stroke="black" stroke-width="2" fill="none" />
            <path v-if="show" transition="path" d="M400,201 A200,200 0 0,0 201,1" stroke="black" stroke-width="2" fill="none" />
            <path v-if="show" transition="path" d="M201,350 A150,150 0 0,0 201,50" stroke="black" stroke-width="2" fill="none" />
            <path v-if="show" transition="path" d="M201,300 A100,100 0 0,1 201,100" stroke="black" stroke-width="2" fill="none" />
            <text v-if="showtext" transition="text" x="0" y="330" fill="#757575" font-size="25" style="font-family: 'Edu VIC WA NT Beginner', Verdana, Geneva, Tahoma, sans-serif;">
                <tspan x="0" dy="1.3em"> Most programming languages are partly a way  </tspan>
                <tspan x="0" dy="1.3em"> of expressing things in terms of other things </tspan>
                <tspan x="0" dy="1.3em"> and partly a basic set of given things. </tspan>
                <tspan x="300" dy="2em"> --- P.J. Landin </tspan>
            </text>
        </svg>
    </div>

    <!--<div class="bottom">-->
    <div class="row bottom">
        <!--<div id="example">
            <button v-on:click="greet">Greet</button>
        </div>-->
        <div class="col-md-3 col-md-offset-3 bottom-link"><a href="./about.html"><span style="color: rgb(244, 67, 54)">A</span>bout Yihao Sun</a></div>
        <div class="col-md-3 bottom-link"><a href="https://scholar.google.com/citations?user=rjBCgzEAAAAJ&hl=en"><span style="color: rgb(244, 67, 54)">P</span>aper</a></div>
    </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
